doctype html
html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge') 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Members Only
body
    h1 New Message
    form(action='/message', method='POST')
        label(for='text') Message:
        input(id='text', name='text', placeholder='type your message here...', type='textarea')
        button Send!
