doctype html
html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge') 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Members Only
body
    h1 Login
    form(action='/login', method='POST')
        label(for='username') Email:
        input(id='username', name='username', placeholder='email@example.com', type='email')
        label(for='password') Password:
        input(id='password', name='password', type='password')
        button Login

    if errors
        p errors 
    else 
        p no errors

    each error in errors
        li !{error.param}: !{error.msg} 
