extends layout

block content
  h1 Wellcome to the Inventory
  
  h3 The inventory has the following record counts: 
    ul
      li #[strong Categories]: !{categoryCount}
      li #[strong Items]: !{itemCount}

